[Unit]
Description=Kite Updater

[Service]
Type=oneshot
StandardOutput=null
ExecStart=/home/liam/.local/share/kite/current/kite-update "update" "silent"
